Prospectus/build
Prospectus_Presentation/build
Dissertation/build
*.asv
Prospectus/prospectus.synctex.gz
Prospectus/prospectus.pdf
*.bak
Prospectus_Presentation/prospectus-presentation.pdf
Prospectus_Presentation/prospectus-presentation.synctex.gz
